html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#app-container {
  height: 100%;
  width: 100%;

  .app-view.slideUp {
    .welcome-view {
      transform: translateY(-100%);
    }
  }

  .welcome-view {
    background: #26004d;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 0.3s ease-in;
    transform: translateY(0);
    z-index: 5;

    .centering-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -120px 0 0 -125px
    }

    .app-icon {
      position: relative;
    }

    .loader {
      margin: 0;
      position: absolute;
      top: 200px;
      left: 95px;

      .rect {
        background-color: #e8f7f0;
      }
    }

    .right_1,
    .right_2,
    .left_1,
    .left_2 {
      border-radius: 50px;
      position: absolute;
    }

    .left_1,
    .left_2 {
      width: 50px;
      height: 200px;
      background: #00545c;
      transform: rotate(-25deg);
    }

    .left_1 {
      left: 64px;
    }

    .left_2 {
      left: 190px;
    }

    .right_1,
    .right_2 {
      position: absolute;
      width: 50px;
      height: 200px;
      transform: rotate(25deg);
      background: #f5fffa;
      top: 1px;
    }

    .right_2 {
      left: 127px;
    }
    .right_1 {
      left: 0;
    }
  }

  .app-view {
    height: 100%;
    width: 100%;

    .main-view {
      transition: transform 0.3s ease-in;
      z-index: 2;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #9cb3a8;
      transform: translateZ(0);

      .app-create-new {
        float: right;
        cursor: pointer;
      }

    }

    .memory-view-container {
      visibility: hidden;
      transition: transform 0.3s ease-in, visibility 0.3s ease-in;
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;

      .panel-open {
        position: absolute;
        top: calc(50% - 5px);
        right: 5px;
        background-color: #ff0000;
      }

      .memory-view {
        height: 100%;
        width: 100%;
        background-color: #243040;
        color: red;

        &.edit-mode {
          .edit {
            display: initial;
          }
          .display {
            display: none;
          }
        }

        &.display-mode {
          .edit {
            display: none;
          }
          .display {
            display: initial;
          }
        }

        .round-shape {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #009998;
        }

        .edit-icon-container {
          text-align: center;
          float: right;
          cursor: pointer;
          .edit-icon {
            vertical-align: middle;
          }
        }

        .close-icon {
          position: absolute;
          top: 5px;
          right: 10px;
          color: red;
          cursor: pointer;
        }

        .tags-container {
          .tag {
            border: 1px solid #ffffff;
            box-shadow: inset -2px 2px 2px 0 #44A4C4,
                        inset 2px -2px 2px 0 #44A4C4;
            margin: 0 5px;
            padding: 2px 3px;
            border-radius: 5px;
            display: inline-block;

            input {
              background: transparent;
              border: none;
              &:focus {
                outline: none;
              }
            }
          }
        }

      }

      .panel-view {
        background: #bba;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        transition: all 0.2s ease-in;

        .panel-content {
          clear: both;
        }

        &.hidePanel {
          transform: translateX(100%);
          visibility: hidden;
        }

        &.showPanel {
          transform: translateX(0);
          visibility: visible;
        }

        .close-icon {
          padding: 5px;
          float: right;
        }

        ul {
          list-style: none;
          padding-left: 10px;
        }
      }
    }
  }
}

#app-container.is-visible {
  .main-view {
    transform: translateX(100%);
  }

  .memory-view-container {
    visibility: visible;
    transform: translateX(0);
  }
}

.container-fluid {
  padding: 0;

  .row {
    margin: 0;
  }
}