@import "fonts.less";
@import "components/list-item.less";
@import "components/scroller.less";
@import "screens/memory.less";
@import "screens/panel.less";
@import "screens/welcome.less";

#app-container {
  font-family: 'alegreya', sans-serif;

  .main-view {
    transition: transform 0.3s ease-in;
    z-index: 2;
    position: absolute;
    background-color: #9cb3a8;
    transform: translateX(100%);

    .app-create-new {
      float: right;
      cursor: pointer;
    }
  }

  .main-view.is-visible {
    transform: translateX(0);
  }
}

.container-fluid {
  padding: 0;

  .row {
    margin: 0;
  }
}