#app-container {

  .welcome-view.is-visible {
    transform: translateY(0);
  }

  .welcome-view {
    background: #26004d;
    position: absolute;
    transition: transform 0.3s ease-in;
    transform: translateY(-100%);
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    #gSignInWrapper {
      position: absolute;
      bottom: 10px;
      left: 25px;
      display: none;

      #customBtn {
        display: inline-block;
        background: white;
        color: #444;
        width: 180px;
        border-radius: 5px;
        border: thin solid #888;
        box-shadow: 1px 1px 1px grey;
        white-space: nowrap;
      }
      #customBtn:hover {
        cursor: pointer;
      }
      span.icon {
        background: url('/assets/images/btn_google_dark_normal_ios.svg') transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 42px;
      }
      span.buttonText {
        display: inline-block;
        vertical-align: middle;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
        font-weight: bold;
        /* Use the Roboto font that is loaded in the <head> */
        font-family: 'Roboto', sans-serif;
      }
    }

    .centering-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -120px 0 0 -125px
    }

    .app-icon {
      position: relative;
    }

    .loader {
      margin: 0;
      position: absolute;
      top: 200px;
      left: 95px;

      .rect {
        background-color: #e8f7f0;
      }
    }

    .right_1,
    .right_2,
    .left_1,
    .left_2 {
      border-radius: 50px;
      position: absolute;
    }

    .left_1,
    .left_2 {
      width: 50px;
      height: 200px;
      background: #00545c;
      transform: rotate(-25deg);
    }

    .left_1 {
      left: 64px;
    }

    .left_2 {
      left: 190px;
    }

    .right_1,
    .right_2 {
      position: absolute;
      width: 50px;
      height: 200px;
      transform: rotate(25deg);
      background: #f5fffa;
      top: 1px;
    }

    .right_2 {
      left: 127px;
    }
    .right_1 {
      left: 0;
    }
  }
}